<ul>
    <li>
    <p>
    <img src="miyazaki.jpg" alt="pic1" align="left">
    <h2>Miyazaki Kohei</h2>
     <p>一橋大学大学院商学部商学研究科経営学修士コース</p>
    </p>
    </li>
    
     <li>
    <p>
    <img src="saito.jpg" alt="pic2" align="left">
    <h2>Saito Atsumi</h2>
     <p>東京工業大学大学院理工学研究科基礎物理学専攻</p>
    </p>
    </li>
    
   
