    <h1>Wellcome to はうふる。</h1>
    <p>はうふるはリアルタイムに、知りたいカフェの空席情報を検索できます！</p>
    <p>空いてるカフェを効率的に探して、楽しいおしゃべりや自分の時間を有効に使いましょう♡</p>

        <ul class="top-content">
                <li><%= link_to "Search Cafe!", cafe_find_path %></li>
                <li><%= link_to "Resist New Cafe",  new_cafe_path %></li>
        </ul>   
